<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css">

    <% if(typeof profileUser != 'undefined') { %>
        <title>Профил на <%= profileUser.charAt(0).toUpperCase() + profileUser.slice(1) %></title>
    <% } else { %>
        <title>Твоят профил</title>
    <% } %> 

</head>
<body>
    <%- include('templates/navbar') %>

    <div id="profile">
        <br>
        <% if(typeof profileUser != 'undefined' ) { %>
                <h1 style="margin-left: 1%;"><%= profileUser.charAt(0).toUpperCase() + profileUser.slice(1) %></h1>
            <% } else { %> 
                <h1 style="margin-left: 1%;"><%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %></h1>
            <% } %>
        <hr class="big-divider">
    </div>

    <div id="profile-box"class="cool-box">
        <% if(typeof profileUser != 'undefined') { %>
            <% if(typeof areFriends != 'undefined') { %>
                <% if(areFriends == 'none') { %>
                    <form action="/users/profile/<%= profileUserId %>/send-request" method="POST">
                        <button style="width: 10%; margin-left: 12%" type="submit">Добави</button>
                    </form>
                <%}else if(areFriends == 'pending') { %>
                    <span>Заявката е изпратена</span>
                <% } %>
            <% }} %>

        <div class="sub-box">
            <h2 style="left: 50%;top: 100%;">Приятели</h2>
            
            <div id="friends-list">
                <ul style="list-style-type: none;">
            <% if(typeof friends != 'undefined' && friends.length > 0) { friends.forEach(friend => { %>
                    <li><a style="text-decoration: none; color: black" href="/users/profile/<%= friend.id %>"><%= friend.name %></a></li>
            <% }) %>
            <% } else { %>
                <span><%= typeof profileUser != 'undefined' ? profileUser : user.username %> е самотник</span> 
            <% } %>


            <% if(typeof requests != 'undefined' && requests.length > 0 && typeof profileUser == 'undefined') { requests.forEach(request => { %>
                <hr class="medium-divider">
                <h3>Заявки</h3>
                <div id="requests-row" style="display: flex; justify-content: space-between;">
                    <li><a style="text-decoration: none; color: black" href="/users/profile/<%= request.id %>"><%= request.name %></a></li>
                    <form action="/users/profile/<%= request.id %>/accept-request" method="POST">
                        <button type="submit" style="border: none; background-color: none; color: none;">
                            <img src="/svg/tick.svg" width="25px">
                        </button>
                    </form>
                </div>

            <% })} %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>